body {
  background-color: #f9f9fd;
  opacity: 0.8;
  background-image: radial-gradient(#1a1a60 0.5px, transparent 0.5px),
    radial-gradient(#1a1a60 0.5px, #f9f9fd 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

nav {
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    -1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset,
    0px 1px 0px 0px rgba(204, 204, 204, 0.5) inset;
  padding: 20px;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #fff !important;
}

footer {
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    -1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset,
    0px 1px 0px 0px rgba(204, 204, 204, 0.5) inset;
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  top: 100%;
  bottom: 0;
}

.home-main {
  min-height: 100vh;
}

.contest-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
  gap: 20px;
}

.border {
  border: 1px gray solid;
  border-radius: 5px;
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    -1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset,
    0px 1px 0px 0px rgba(204, 204, 204, 0.5) inset;
  background-color: #676565;
}

.favourite-button {
  margin-left: 100px;
  background-color: transparent;
  border: none;
  /* box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    -1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset,
    0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset,
    0px 1px 0px 0px rgba(204, 204, 204, 0.5) inset;
    border-radius: 10px; */
  font-size: 25px;
  cursor: pointer;
}

.reminder {
  font-size: 20px;
  display: flex;
  /* padding-top: 20px; */
  /* justify-content: center; */
  align-items: center;
}
.red {
  background-color: red;
}

.flex-row {
  flex-direction: row;
}

.notification {
  font-size: 40px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.blue-bg {
  color: rgb(56, 113, 175) !important;
  padding: 2px 6px;
  border: 1px solid rgb(56, 113, 175);
  border-radius: 5px;
}
.bg-gray {
  color: rgb(55, 56, 58) !important;
  padding: 2px 6px;
  border: 1px solid rgb(66, 68, 71);
  border-radius: 5px;

}

.gray{
  color: rgb(55, 56, 58) !important;

}

.blue {
  color: rgb(33, 80, 130) !important;
}

.contest-details-container {
  gap: 20px;
  padding: 30px;
}

.mt-4 {
  margin-top: 10px;
}

.go_to_contest {
  width: 100%;

  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: rgb(192, 236, 192);
  color: rgb(54, 175, 54);
  padding: 10px 20px;
  border: 1px solid rgb(54, 175, 54);
  border-radius: 5px;
  cursor: pointer;
}

.go_to_contest:hover {
  background-color: rgb(153, 225, 153);
  color: white;
}

.favorite-icon {
  margin-left: 20px;
}

.fav-icon:hover {
  cursor: pointer;
  scale: 1.03;
  transition: all 0.2s;
}

/*  */
.dot-bg {
  background-color: #f9f9fd;
  opacity: 0.8;
  background-image: radial-gradient(#1a1a60 0.5px, transparent 0.5px),
    radial-gradient(#1a1a60 0.5px, #f9f9fd 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.home-page {
  min-height: 100vh;
  /* background-color: #f9f9fd; */
}
